In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
pd.read_csv('C:/ex/data/공공데이터.csv', encoding='cp949')

          업종명        기준년월 광역시도  시군구  중간구   읍면동  환전건수  환전금액(원)
0      개인서비스업  2019-02-01  경기도  성남시  중원구   여수동     1       50
1         소매업  2019-02-01  경기도  성남시  중원구   여수동    37  2225940
2        음식점업  2019-02-01  경기도  성남시  수정구   시흥동     5   191000
3        음식점업  2019-02-01  경기도  성남시  중원구   여수동    75  2020622
4        음식점업  2019-02-01  경기도  성남시  중원구   여수동     2    72200
...       ...         ...  ...  ...  ...   ...   ...      ...
10715     제조업  2021-06-01  경기도  성남시  중원구   성남동    54  1138700
10716     제조업  2021-06-01  경기도  성남시  중원구   여수동    30   285500
10717     제조업  2021-06-01  경기도  성남시  중원구  은행2동    67   525300
10718     제조업  2021-06-01  경기도  성남시  중원구   은행동   228  2072500
10719     제조업  2021-06-01  경기도  성남시  중원구  하대원동     5   278000

[10720 rows x 8 columns]

In [9]:
seongnam = pd.read_csv('C:/ex/data/공공데이터.csv', encoding='cp949')

In [10]:
seongnam

          업종명        기준년월 광역시도  시군구  중간구   읍면동  환전건수  환전금액(원)
0      개인서비스업  2019-02-01  경기도  성남시  중원구   여수동     1       50
1         소매업  2019-02-01  경기도  성남시  중원구   여수동    37  2225940
2        음식점업  2019-02-01  경기도  성남시  수정구   시흥동     5   191000
3        음식점업  2019-02-01  경기도  성남시  중원구   여수동    75  2020622
4        음식점업  2019-02-01  경기도  성남시  중원구   여수동     2    72200
...       ...         ...  ...  ...  ...   ...   ...      ...
10715     제조업  2021-06-01  경기도  성남시  중원구   성남동    54  1138700
10716     제조업  2021-06-01  경기도  성남시  중원구   여수동    30   285500
10717     제조업  2021-06-01  경기도  성남시  중원구  은행2동    67   525300
10718     제조업  2021-06-01  경기도  성남시  중원구   은행동   228  2072500
10719     제조업  2021-06-01  경기도  성남시  중원구  하대원동     5   278000

[10720 rows x 8 columns]

In [11]:
seongnam.columns

Index(['업종명', '기준년월', '광역시도', '시군구', '중간구', '읍면동', '환전건수', '환전금액(원)'], dtype='object')

In [12]:
seongnam[['시군구','중간구','읍면동','환전금액(원)']]

       시군구  중간구   읍면동  환전금액(원)
0      성남시  중원구   여수동       50
1      성남시  중원구   여수동  2225940
2      성남시  수정구   시흥동   191000
3      성남시  중원구   여수동  2020622
4      성남시  중원구   여수동    72200
...    ...  ...   ...      ...
10715  성남시  중원구   성남동  1138700
10716  성남시  중원구   여수동   285500
10717  성남시  중원구  은행2동   525300
10718  성남시  중원구   은행동  2072500
10719  성남시  중원구  하대원동   278000

[10720 rows x 4 columns]

In [15]:
seongnam.iloc[146]

업종명               소매업
기준년월       2019-04-01
광역시도              경기도
시군구               성남시
중간구               중원구
읍면동               도촌동
환전건수                5
환전금액(원)         63091
Name: 146, dtype: object